*{
	margin: 0;
	padding: 0;
}
<style>
.foto_perfil{
    transition: all 0.5s;
}

.foto_perfil:hover{
	transition: all 0.5s;
    	filter: blur(5px);
	cursor: pointer;
}

.linha:hover{
	height:70px;
	background-color: darkblue;
	cursor: pointer;
	border-radius: 10px;
}

</style>

body{
	background-color: #f7f7f7;
}

.linha{
	height:70px;
	background-color: blue;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.7s;
}

.foto_perfil{
	border-radius: 50%;
	max-width: 180px;
	max-height: 180px;
	border: 2px solid black;
}
